{% extends "base.html" %}
{% block title %} Login  {% endblock %}

{% block content %}
<div class="row">
<div class="col-xs-6 text-center">
    <p>
        <img src="/static/img/IR4.png"/>
    </p>
    <p>
        <a href="http://www.thuir.org/">Tsinghua University, Department of Computer Science and Technology, Institute for Artificial Intelligence </br>Information Retrieval Group (THUIR)</a>
    </p>
</div>
<div class="col-xs-6 pull-right">
<div class="login-form">
    <form id="login_form" name="login_form" action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form.username }}
          <label class="login-field-icon fui-user" for="login-name"></label>
        </div>

        <div class="form-group">
            {{ form.password }}
          <label class="login-field-icon fui-lock" for="login-pass"></label>
        </div>

        {% if error_message %}
        <div class="login_error_message">
            {{ error_message }}
        </div>
        {% endif %}

        <a id="login_button" class="btn btn-primary btn-lg btn-block" href="#">Login</a>
        <a class="login-link" href="/user/forget_password/">Forget password?</a>
        <a class="login-link" href="/user/signup/">Create a new account</a>
    </form>
</div>
</div>
</div>
{% endblock %}

{% block scripts %}
    <script>
        (function() {
            $('#login_button').click(function(e) {
                e.preventDefault();
                document.login_form.submit();
            });
        })();
    </script>
{% endblock %}
