{% extends "base.html" %}
{% block title %} Per Query Annotation {% endblock %}
{% block content_title %} Per Query Annotation {% endblock %}
{% block content %}
    <div class="row text-center">
        <h3>
            Please annotate each query for following questions:
        </h3>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
            <form class="col-xs-12" id="query-form" action="" method="post" onsubmit="validateForms()" enctype='multipart/form-data'>
                {% csrf_token %}
                {% for query, prequery, query_annotation, pages_and_status in items_list %}
                    <div class="col-xs-12" style="border:1px dashed #000; border-radius:10px">
                        <div class="col-xs-12 list_header list_row">
                            Query Text: {{ query.query_string }}
                            <ul>
                                {% for page, status in pages_and_status %}
                                    <li>Page {{ page.page_id }}<a href="/task/show_page/{{ page.id }}"
                                                               target="_blank">(Click here to )</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <label for="relation_ratio" class="ratio col-xs-12 list_row"><b>1. The relationship between the current query B <span
                                style="color: #c00">("{{ query.query_string }}")</span>and the last query A <span
                                style="color: #c00">("{{ prequery.query_string }}")</span>is</b></label>

                        <div class="ratio col-xs-12 list_row">
                            <label><input type="radio" name="relation_ratio_{{ query.id }}" value="1"/> This is the first query. </label>
                            <br/>
                            <label><input type="radio" name="relation_ratio_{{ query.id }}" value="2"/>
                                Add requirement, i.e., more specific, B is a particular case of A, e.g., A: <b>HUAWEI Phone</b> vs B: <b>HUAWEI p40</b></label>
                            <br/>
                            <label><input type="radio" name="relation_ratio_{{ query.id }}" value="3"/>
                                Delete requirement, i.e., more generalize, A is a particular case of B, e.g., A: <b>HUAWEI p40</b> vs B: <b>HUAWEI Phone</b></label>
                            <br/>
                            <label><input type="radio" name="relation_ratio_{{ query.id }}" value="4"/>
                                B is an attribute or a component of A, e.g., A: <b>HUAWEI p40</b> vs B: <b>HUAWEI p40 spec</b>；A: <b>HUAWEI p40</b> vs B: <b>HUAWEI p40 screen</b></label>
                            <br/>
                            <label><input type="radio" name="relation_ratio_{{ query.id }}" value="5"/>
                                A is an attribute or a component of B, e.g., A: <b>HUAWEI p40 spec</b> vs B: <b>HUAWEI p40</b>；A: <b>HUAWEI p40 screen</b> vs B: <b>HUAWEI p40</b></label>
                            <br/>
                            <label><input type="radio" name="relation_ratio_{{ query.id }}" value="6"/>
                                The same search target, rephrase/synonym/spelling correction, e.g., A: <b>Haidian housing price</b> vs B: <b>Haidian District housing price</b>；A: <b>Massachusetts Institute of Technology</b> vs B: <b>MIT</b> </label>
                            <br/>
                            <label><input type="radio" name="relation_ratio_{{ query.id }}" value="7"/>
                                There is no hypotaxis between A and B, but there is relationship, e.g, A: <b>HUAWEI p40</b> vs B: <b>Xiaomi 10</b>, if you want to search for mobile phone brands.</label>
                            <br/>
                            <label><input type="radio" name="relation_ratio_{{ query.id }}" value="8"/>
                                A and B is completely irrelevant, e.g., A: <b>salmon</b> vs B: <b>robot</b></label>
                            <br/>
                            <label><input type="radio" name="relation_ratio_{{ query.id }}" value="0"/> Others <input
                                    type="text" name="relation_text_{{ query.id }}"
                                    value="{{ query_annotation.other_relation }}" placeholder="Please input other reformulation type here."
                                    size="50"/></label>
                        </div>
                        <script>
                            $("input:radio[name='relation_ratio_{{ query.id }}'][value='{{ query_annotation.relation }}']").attr('checked', 'true');
                        </script>
                        <label for="inspiration" class="ratio col-xs-12 list_row"><b>2. Where is the reformulation inspiration from?</b></label>

                        <div class="ratio col-xs-12 list_row">
                            <label><input type="radio" name="inspiration_{{ query.id }}" value="1"/>This is the initial query.</label>
                            <br/>
                            <label><input type="radio" name="inspiration_{{ query.id }}" value="2"/>
                                From the search snippet (including snippet and title).</label>
                            <br/>
                            <label><input type="radio" name="inspiration_{{ query.id }}" value="3"/>
                                From other components in SERP, such as related search, ads, hot queries.</label>
                            <br/>
                            <label><input type="radio" name="inspiration_{{ query.id }}" value="4"/>
                                From one or several landing pages.</label>
                            <br/>
                            <label><input type="radio" name="inspiration_{{ query.id }}" value="5"/>
                                Others (Not from the search process, e.g., a cognitive snap or having thought about it before the search process).</label>
                            <br/>
                        </div>
                        <script>
                            $("input:radio[name='inspiration_{{ query.id }}'][value='{{ query_annotation.inspiration }}']").attr('checked', 'true');
                        </script>
                        <label for="satisfaction_ratio"
                               class="ratio col-xs-12 list_row"><b>3. Were you satisfied with the search results in this query？(0) unsatisfied - (4) very satisfied</b></label>

                        <div class="ratio col-xs-12 list_row">
                            <label><input type="radio" name="satisfaction_ratio_{{ query.id }}" value="0"/> 0 </label>
                            <label><input type="radio" name="satisfaction_ratio_{{ query.id }}" value="1"/> 1 </label>
                            <label><input type="radio" name="satisfaction_ratio_{{ query.id }}" value="2"/> 2 </label>
                            <label><input type="radio" name="satisfaction_ratio_{{ query.id }}" value="3"/> 3 </label>
                            <label><input type="radio" name="satisfaction_ratio_{{ query.id }}" value="4"/> 4 </label>
                        </div>
                        <script>
                            $("input:radio[name='satisfaction_ratio_{{ query.id }}'][value='{{ query_annotation.satisfaction }}']").attr('checked', 'true');
                        </script>
                        <label for="ending_ratio" class="ratio col-xs-12 list_row"><b>4. Why did you reformulate this query or end your search? </b></label>

                        <div class="ratio col-xs-12 list_row">
                            <label><input type="radio" name="ending_ratio_{{ query.id }}" value="4"/>
                                I have found enough information.</label>
                            <br/>
                            <label><input type="radio" name="ending_ratio_{{ query.id }}" value="3"/>
                                I found no useful information with great effort and were forced to reformulate the query.</label>
                            <br/>
                            <label><input type="radio" name="ending_ratio_{{ query.id }}" value="2"/>
                                I come up with a better query for current information need without intent shift.</label>
                            <br/>
                            <label><input type="radio" name="ending_ratio_{{ query.id }}" value="1"/> I come up with a more interesting query with intent shift;</label>
                            <br/>
                            <label><input type="radio" name="ending_ratio_{{ query.id }}" value="0"/> Others <input
                                    type="text" name="ending_text_{{ query.id }}"
                                    value="{{ query_annotation.other_reason }}" placeholder="Please input other reasons here."
                                    size="50"/></label>
                        </div>
                        <script>
                            $("input:radio[name='ending_ratio_{{ query.id }}'][value='{{ query_annotation.ending_type }}']").attr('checked', 'true');
                        </script>
                        <label for="result_annotation" class="result col-xs-12 list_row"><b>5.
                            Please click on the links below to annotate the usefulness of each result page you browse under this query.<br />
                            (Tip: After clicking the link, search results are shown in the left side of the page. Please drag the results you think are helpful in the search process to the corresponding position on the right side according to their usefulness; For results that you haven't seen or that you don't think will help you at all, you don't need to drag. To help you recall your search, we've highlighted the results you clicked on below the results, but that doesn't mean you have to drag them)</b></label>

                        <div class="col-xs-12 list_row">
                            Query: {{ query.query_string }}
                            <ul>
                                {% for page, status in pages_and_status %}
                                    <li>Page {{ page.page_id }}<a class="check_link"
                                                               href="/task/page_annotation/{{ page.id }}"
                                                               target="_blank">(Click here to annotate)</a>
                                        {% if status %}
                                            <img class="check_img" src="/static/img/check.jpg"
                                                 style="visibility: visible; width: 20px; height: 20px">
                                        {% else %}
                                            <img class="check_img" src="/static/img/check.jpg"
                                                 style="visibility: hidden; width: 20px; height: 20px">
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                            <script>
                                $('.check_link').click(
                                        function () {
                                            var node = $(this).get(0);
                                            var parent_node = node.parentNode;
                                            if (parent_node != null) {
                                                $(parent_node).find("img").css("visibility", "visible");
                                            }
                                        }
                                )
                            </script>
                        </div>
                        {% if query.diversity != -1 %}
                        <label for="expectation_confirm_ratio"
                               class="ratio col-xs-12 list_row"><b>6. Please confirm the expectation for the current query after the search process.</b></label>

                        <div class="ratio col-xs-12 list_row"> 6.1 <b>Diveristy</b>: How many topics do you expect the results of this query to include? (Tip: Pre-search expectation is {{ query.diversity}})<br>
                            <span style="display:flex;">One topic <input type="range" style="width: 20%" name="diversity_confirm_{{ query.id }}" min="1" max="5" value="1" step="1" list="diversity_marks" oninput="setDiversity({{ query.id }})" onchange="setDiversity({{ query.id }})"/> Five or more (Current choice <b><span id="diversity_value_{{ query.id }}" >1</span></b>)</span><br>
                            <datalist id="diversity_marks">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </datalist>
                        </div>
                        <script>
                            document.getElementsByName("diversity_confirm_{{ query.id }}")[0].value = {{ query.diversity_confirm }};
                        </script>
                        <div class="ratio col-xs-12 list_row"> 6.2 <b>Result Type</b>：Which of the following result types do you expect to be returned by this query? (Multiple options，Tip: Pre-search expectation is <b>{{ query.habit }}</b>)<br>
                            <label><input type="checkbox" name="habit_confirm_{{ query.id }}" value="1" /> 1. Wikipedia type </label>
                            <label><input type="checkbox" name="habit_confirm_{{ query.id }}" value="2" /> 2. Image type </label>
                            <label><input type="checkbox" name="habit_confirm_{{ query.id }}" value="3" /> 3. Video type</label>
                            <label><input type="checkbox" name="habit_confirm_{{ query.id }}" value="4" /> 4. Experience type </label><br>
                            <label><input type="checkbox" name="habit_confirm_{{ query.id }}" value="5" /> 5. Map type </label>
                            <label><input type="checkbox" name="habit_confirm_{{ query.id }}" value="6" /> 6. Aggregated type </label>
                            <label><input type="checkbox" name="habit_confirm_{{ query.id }}" value="7" /> 7. Card type </label>
                            <label><input type="checkbox" name="habit_confirm_{{ query.id }}" value="0" /> 0. Others </label><br>
                        </div>
                        <input id="habit_str_{{ query.id }}" type="hidden" name="habit_str_{{ query.id }}">
                        <script>
                            var init_habit = "{{ query.habit_confirm }}";
                            var init_habits = init_habit.toString().split(",");
                            for (var i = 0; i < init_habits.length; i++) {
                                $("input[name='habit_confirm_{{ query.id }}'][value='" + init_habits[i] +"']").attr("checked","checked");
{#                                $("input:checkbox[name='habit_confirm_{{ query.id }}'][value=" + init_habits[i] + "]").attr('checked', 'true');#}
                            }
                        </script>
                        <div class="ratio col-xs-12 list_row"> 6.3 <b>Redundancy</b>: How do you expect the redundancy of the results? (Tip: Pre-search expectation is {{ query.redundancy}})<br>
                            <label><input type="radio" name="redundancy_confirm_{{ query.id }}" value="0"/> 0：All similar </label> <br>
                            <label><input type="radio" name="redundancy_confirm_{{ query.id }}" value="1"/> 1：Minority of the results are different </label> <br>
                            <label><input type="radio" name="redundancy_confirm_{{ query.id }}" value="2"/> 2：Half of the results is different </label> <br>
                            <label><input type="radio" name="redundancy_confirm_{{ query.id }}" value="3"/> 3：Majority of the results are different </label> <br>
                            <label><input type="radio" name="redundancy_confirm_{{ query.id }}" value="4"/> 4：All results are different </label> <br>
                        </div>
                        <script>
                            $("input:radio[name='redundancy_confirm_{{ query.id }}'][value='{{ query.redundancy_confirm }}']").attr('checked', 'true');
                        </script>
                        <div class="ratio col-xs-12 list_row"> 6.4 <b>Difficulty</b>: How do you expect the difficulty of the search process? (Tip: Pre-search expectation is {{ query.difficulty}}）<br>
                            <label><input type="radio" name="difficulty_confirm_{{ query.id }}" value="0"/> 0：Very easy </label> <br>
                            <label><input type="radio" name="difficulty_confirm_{{ query.id }}" value="1"/> 1：Easy </label> <br>
                            <label><input type="radio" name="difficulty_confirm_{{ query.id }}" value="2"/> 2：A little bit difficult</label> <br>
                            <label><input type="radio" name="difficulty_confirm_{{ query.id }}" value="3"/> 3：Difficult </label> <br>
                            <label><input type="radio" name="difficulty_confirm_{{ query.id }}" value="4"/> 4：Very difficult </label> <br>
                        </div>
                        <script>
                            $("input:radio[name='difficulty_confirm_{{ query.id }}'][value='{{ query.difficulty_confirm }}']").attr('checked', 'true');
                        </script>
                        <div class="ratio col-xs-12 list_row"> 6.5 <b>Number of relevant results</b>: How many relevant results do you expect to find in this query? (Tip: Pre-search expectation is {{ query.gain}}) <br>
                            <span style="display:flex;">One relevant result <input type="range" style="width: 40%" name="gain_confirm_{{ query.id }}" min="1" max="10" value="1" step="1" list="gain_marks" oninput="setGain({{ query.id }})" onchange="setGain({{ query.id }})"/> Ten or more (Current choice <b><span id="gain_value_{{ query.id }}" >1</span></b>)</span><br>
                            <datalist id="gain_marks">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                            </datalist>
                        </div>
                        <script>
                            document.getElementsByName("gain_confirm_{{ query.id }}")[0].value = {{ query.gain_confirm }};
                        </script>
                        <div class="ratio col-xs-12 list_row"> 6.6 <b>Effort</b>: How much time do you expect to spend searching for relevant information in this query? (Tip: Pre-search expectation is {{ query.effort}}）：<br>
                            <span style="display:flex;">One minute <input type="range" style="width: 40%" name="effort_confirm_{{ query.id }}" min="1" max="10" value="1" step="1" list="effort_marks" oninput="setEffort({{ query.id }})" onchange="setEffort({{ query.id }})"/> Ten minute or longer (Current choice <b><span id="effort_value_{{ query.id }}" >1</span></b>)</span><br>
                            <datalist id="effort_marks">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                            </datalist>
                        </div>
                        <script>
                            document.getElementsByName("effort_confirm_{{ query.id }}")[0].value = {{ query.effort_confirm }};
                        </script>
                        {% endif %}
                    </div>
                    <div class="col-xs-12"><br/></div>
                {% endfor %}
            </form>
            <div class="col-xs-12">
                <div id="query-btn" class="col-xs-6 submit-btn btn btn-block btn-lg btn-primary">
                    Submit
                </div>
            </div>
        </div>
        <script>
               function setDiversity(qid){
                   var diversity_val = document.getElementById("diversity_value_" + qid);
                   diversity_val.innerText = document.getElementsByName("diversity_confirm_" + qid)[0].value;
               }
               function setGain(qid){
                   var gain_val = document.getElementById("gain_value_" + qid);
                   gain_val.innerText = document.getElementsByName("gain_confirm_" + qid)[0].value;
               }
               function setEffort(qid){
                   var effort_val = document.getElementById("effort_value_" + qid);
                   effort_val.innerText = document.getElementsByName("effort_confirm_" + qid)[0].value;
               }
               function validateForms() {  // 咋办？
                   {% for query, prequery, query_annotation, pages_and_status in items_list %}
                       var checks = $("input[name='habit_confirm_{{ query.id }}']:checked").map(function () {
                           return $(this).val();
                       }).get();
{#                       alert(checks);#}
                       $("#habit_str_" + {{ query.id }}).val(checks);
                   {% endfor %}
               }
        </script>
        <script>
            $(function () {
                $('#query-btn').click(
                        function () {
                            {% for query, prequery, query_annotation, pages_and_status in items_list %}
                                var relation = $("[name='relation_ratio_{{ query.id }}']:checked");
                                var inspiration = $("[name='inspiration_{{ query.id }}']:checked");
                                var satisfaction = $("[name='satisfaction_ratio_{{ query.id }}']:checked");
                                var ending = $("[name='ending_ratio_{{ query.id }}']:checked");
                                if (relation.val() == null) {
                                    alert('Please choose a reformulation type!');
                                    $("[name='relation_ratio_{{ query.id }}']").focus();
                                    return
                                }
                                if (inspiration.val() == null) {
                                    alert('Please choose an inspiration source!');
                                    $("[name='inspiration_{{ query.id }}']").focus();
                                    return
                                }
                                if (satisfaction.val() == null) {
                                    alert('Please choose a satisfaction score!');
                                    $("[name='satisfaction_ratio_{{ query.id }}']").focus();
                                    return
                                }
                                if (ending.val() == null) {
                                    alert('Please choose a reason for ending the search!');
                                    $("[name='ending_ratio_{{ query.id }}']").focus();
                                    return
                                }

                                {% if query.diversity != -1 %}
                                    var habit_confirm = $("[name='habit_confirm_{{ query.id }}']:checked");
                                    var redundancy_confirm = $("[name='redundancy_confirm_{{ query.id }}']:checked");
                                    var difficulty_confirm = $("[name='difficulty_confirm_{{ query.id }}']:checked");
                                    if (habit_confirm.val() == null) {
                                        alert('Please choose an expectation confirming value!');
                                        $("[name='habit_confirm_{{ query.id }}']").focus();
                                        return
                                    }
                                    if (redundancy_confirm.val() == null) {
                                        alert('Please check a redundancy button!');
                                        $("[name='redundancy_confirm_{{ query.id }}']").focus();
                                        return
                                    }
                                    if (difficulty_confirm.val() == null) {
                                        alert('Please check a difficulty button!');
                                        $("[name='difficulty_confirm_{{ query.id }}']").focus();
                                        return
                                    }
                                {% endif %}
                            {% endfor %}
                            if (confirm("Are you sure to submit all annotations?"))
                                $('#query-form').submit();
                        }
                );
            });
        </script>
    </div>

{% endblock %}
