{% extends "base.html" %}
{% block title %} 分查询词标注 {% endblock %}
{% block content_title %} 分查询词标注 {% endblock %}
{% block content %}
    <div class="row text-center">
        <h3>
            请对每个查询词逐一完成以下标注
        </h3>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
            <form class="col-xs-12" id="query-form" action="" method="post" onsubmit="validateForms()" enctype='multipart/form-data'>
                {% csrf_token %}
                {% for query, prequery, query_annotation, pages_and_status in items_list %}
                    <div class="col-xs-12" style="border:1px dashed #000; border-radius:10px">
                        <div class="col-xs-12 list_header list_row">
                            查询词: {{ query.query_string }}
                            <ul>
                                {% for page, status in pages_and_status %}
                                    <li>第{{ page.page_id }}页<a href="/task/show_page/{{ page.id }}"
                                                               target="_blank">(点击查看)</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <label for="relation_ratio" class="ratio col-xs-12 list_row"><b>1. 本查询词 B <span
                                style="color: #c00">("{{ query.query_string }}")</span>与前一个查询词 A <span
                                style="color: #c00">("{{ prequery.query_string }}")</span>的关系是</b></label>

                        <div class="ratio col-xs-12 list_row">
                            <label><input type="radio" name="relation_ratio_{{ query.id }}" value="1"/> 初始查询</label>
                            <br/>
                            <label><input type="radio" name="relation_ratio_{{ query.id }}" value="2"/>
                                增加查询要求，更加具体：B属于A的一种（例：A：“<b>华为手机</b>” vs B：“<b>华为p40</b>”）</label>
                            <br/>
                            <label><input type="radio" name="relation_ratio_{{ query.id }}" value="3"/>
                                减少查询要求，更加宽泛：A属于B的一种（例：A：“<b>华为p40</b>” vs B：“<b>华为手机</b>”）</label>
                            <br/>
                            <label><input type="radio" name="relation_ratio_{{ query.id }}" value="4"/>
                                A和B具有从属关系，B是A的属性或部分（即A为整体、B为部分，例：A：“<b>华为p40</b>” vs B：“<b>华为p40参数</b>”；A：“<b>华为p40</b>” vs B：“<b>华为p40屏幕</b>”）</label>
                            <br/>
                            <label><input type="radio" name="relation_ratio_{{ query.id }}" value="5"/>
                                A和B具有从属关系，A是B的属性或部分（即B为整体、A为部分，例：A：“<b>华为p40参数</b>” vs B：“<b>华为p40</b>”；A：“<b>华为p40屏幕</b>” vs B：“<b>华为p40</b>”）</label>
                            <br/>
                            <label><input type="radio" name="relation_ratio_{{ query.id }}" value="6"/>
                                同一个查询目标，重新组词/同义词/错别字更正（例：A：“<b>海淀房价</b>” vs B：“<b>海淀区 房价</b>”；A：“<b>北京大学</b>” vs B：“<b>北大</b>”）</label>
                            <br/>
                            <label><input type="radio" name="relation_ratio_{{ query.id }}" value="7"/>
                                B和A没有包含关系以及从属关系，但是二者有关联（例：A：“<b>华为p40</b>” vs B：“<b>小米10</b>”；想搜手机品牌, 二者都属于这个主题）</label>
                            <br/>
                            <label><input type="radio" name="relation_ratio_{{ query.id }}" value="8"/>
                                B和A是属于完全不同的主题，即二者无交集（例：A：“<b>三文鱼</b>” vs B：“<b>高达</b>”）</label>
                            <br/>
                            <label><input type="radio" name="relation_ratio_{{ query.id }}" value="0"/> 其他 <input
                                    type="text" name="relation_text_{{ query.id }}"
                                    value="{{ query_annotation.other_relation }}" placeholder="请在此处输入其他重构关系"
                                    size="50"/></label>
                        </div>
                        <script>
                            $("input:radio[name='relation_ratio_{{ query.id }}'][value='{{ query_annotation.relation }}']").attr('checked', 'true');
                        </script>
                        <label for="inspiration" class="ratio col-xs-12 list_row"><b>2. 您从哪里得到的灵感而构造的本次查询？</b></label>

                        <div class="ratio col-xs-12 list_row">
                            <label><input type="radio" name="inspiration_{{ query.id }}" value="1"/> 初始查询</label>
                            <br/>
                            <label><input type="radio" name="inspiration_{{ query.id }}" value="2"/>
                                从搜索引擎结果页面的搜索结果摘要（包括结果摘要和标题）</label>
                            <br/>
                            <label><input type="radio" name="inspiration_{{ query.id }}" value="3"/>
                                从搜索引擎结果页面的其他部分（例如相关搜索、广告、热搜榜等等）</label>
                            <br/>
                            <label><input type="radio" name="inspiration_{{ query.id }}" value="4"/>
                                从某（几）个结果打开的网页</label>
                            <br/>
                            <label><input type="radio" name="inspiration_{{ query.id }}" value="5"/>
                                其他（没有从搜索结果中获得，例如：①脑海中灵光一闪想到了这个查询词；②我在搜索之前就想好了查这个）</label>
                            <br/>
                        </div>
                        <script>
                            $("input:radio[name='inspiration_{{ query.id }}'][value='{{ query_annotation.inspiration }}']").attr('checked', 'true');
                        </script>
                        <label for="satisfaction_ratio"
                               class="ratio col-xs-12 list_row"><b>3. 回顾此次搜索查询，您认为对于完成该查询的整个搜索过程是否满意？0为很不满意，4为非常满意</b></label>

                        <div class="ratio col-xs-12 list_row">
                            <label><input type="radio" name="satisfaction_ratio_{{ query.id }}" value="0"/> 0分 </label>
                            <label><input type="radio" name="satisfaction_ratio_{{ query.id }}" value="1"/> 1分 </label>
                            <label><input type="radio" name="satisfaction_ratio_{{ query.id }}" value="2"/> 2分 </label>
                            <label><input type="radio" name="satisfaction_ratio_{{ query.id }}" value="3"/> 3分 </label>
                            <label><input type="radio" name="satisfaction_ratio_{{ query.id }}" value="4"/> 4分 </label>
                        </div>
                        <script>
                            $("input:radio[name='satisfaction_ratio_{{ query.id }}'][value='{{ query_annotation.satisfaction }}']").attr('checked', 'true');
                        </script>
                        <label for="ending_ratio" class="ratio col-xs-12 list_row"><b>4. 你停止在本查询词下继续浏览的原因是？</b></label>

                        <div class="ratio col-xs-12 list_row">
                            <label><input type="radio" name="ending_ratio_{{ query.id }}" value="4"/>
                                我已经得到了我预期得到的信息，所以结束本查询</label>
                            <br/>
                            <label><input type="radio" name="ending_ratio_{{ query.id }}" value="3"/>
                                本页面无法满足我的信息需求，我<b>被迫</b>只能更换查询词或直接结束查询</label>
                            <br/>
                            <label><input type="radio" name="ending_ratio_{{ query.id }}" value="2"/>
                                我中途<b>主动</b>想到了一个更好的查询词（<b>没有意图转移</b>），无所谓当前查询信息需求满足了多少</label>
                            <br/>
                            <label><input type="radio" name="ending_ratio_{{ query.id }}" value="1"/> 我突然想到了更感兴趣的查询词（<b>有一定的意图转移</b>），无所谓当前查询信息需求满足了多少</label>
                            <br/>
                            <label><input type="radio" name="ending_ratio_{{ query.id }}" value="0"/> 其他 <input
                                    type="text" name="ending_text_{{ query.id }}"
                                    value="{{ query_annotation.other_reason }}" placeholder="请在此处输入其他原因"
                                    size="50"/></label>
                        </div>
                        <script>
                            $("input:radio[name='ending_ratio_{{ query.id }}'][value='{{ query_annotation.ending_type }}']").attr('checked', 'true');
                        </script>
                        <label for="result_annotation" class="result col-xs-12 list_row"><b>5.
                            请分别点击下面的链接对该查询词下你所浏览的每一页结果的有用性进行标注<br />
                            (提示: 点开链接之后,页面左边是搜索结果,请将你认为在搜索过程中对你有帮助的结果按照其有用性拖动至右边的相应位置;对于你没有看过的结果或者你认为对你完全没有帮助的结果,可以不用拖动. 为了帮助你更好地回忆搜索过程,我们将你点击过的结果在该结果的下方标注了出来,但这并不意味着你必须拖动它)</b></label>

                        <div class="col-xs-12 list_row">
                            查询词: {{ query.query_string }}
                            <ul>
                                {% for page, status in pages_and_status %}
                                    <li>第{{ page.page_id }}页<a class="check_link"
                                                               href="/task/page_annotation/{{ page.id }}"
                                                               target="_blank">(点击标注)</a>
                                        {% if status %}
                                            <img class="check_img" src="/static/img/check.jpg"
                                                 style="visibility: visible; width: 20px; height: 20px">
                                        {% else %}
                                            <img class="check_img" src="/static/img/check.jpg"
                                                 style="visibility: hidden; width: 20px; height: 20px">
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                            <script>
                                $('.check_link').click(
                                        function () {
                                            var node = $(this).get(0);
                                            var parent_node = node.parentNode;
                                            if (parent_node != null) {
                                                $(parent_node).find("img").css("visibility", "visible");
                                            }
                                        }
                                )
                            </script>
                        </div>
                        {% if query.diversity != -1 %}
                        <label for="expectation_confirm_ratio"
                               class="ratio col-xs-12 list_row"><b>6. 请您对本查询词搜索结果的期待值进行确认，即结束查询之后，您感知的期望各方面的真实值</b></label>

                        <div class="ratio col-xs-12 list_row"> 6.1 <b>多样性确认</b>：你搜索后发现本次查询返回的结果实际上能够包括几个方面的主题？（提示：你之前给出的预期为{{ query.diversity}}）<br>
                            <span style="display:flex;">1个主题 <input type="range" style="width: 20%" name="diversity_confirm_{{ query.id }}" min="1" max="5" value="1" step="1" list="diversity_marks" oninput="setDiversity({{ query.id }})" onchange="setDiversity({{ query.id }})"/> 5个及以上（您当前选择的数值是<b><span id="diversity_value_{{ query.id }}" >1</span></b>）</span><br>
                            <datalist id="diversity_marks">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </datalist>
                        </div>
                        <script>
                            document.getElementsByName("diversity_confirm_{{ query.id }}")[0].value = {{ query.diversity_confirm }};
                        </script>
                        <div class="ratio col-xs-12 list_row"> 6.2 <b>结果类型确认</b>：你搜索后发现本次查询返回的结果实际能够包含下面哪些对你有帮助的特定的结果类型？（可多选，提示：你之前给出的预期包括<b>{{ query.habit }}</b>）<br>
                            <label><input type="checkbox" name="habit_confirm_{{ query.id }}" value="1" /> 1. 百科类 </label>
                            <label><input type="checkbox" name="habit_confirm_{{ query.id }}" value="2" /> 2. 图片类 </label>
                            <label><input type="checkbox" name="habit_confirm_{{ query.id }}" value="3" /> 3. 视频类 </label>
                            <label><input type="checkbox" name="habit_confirm_{{ query.id }}" value="4" /> 4. 经验类 </label><br>
                            <label><input type="checkbox" name="habit_confirm_{{ query.id }}" value="5" /> 5. 地图类 </label>
                            <label><input type="checkbox" name="habit_confirm_{{ query.id }}" value="6" /> 6. 聚合类 </label>
                            <label><input type="checkbox" name="habit_confirm_{{ query.id }}" value="7" /> 7. 卡片类 </label>
                            <label><input type="checkbox" name="habit_confirm_{{ query.id }}" value="0" /> 0. 其他类 </label><br>
                        </div>
                        <input id="habit_str_{{ query.id }}" type="hidden" name="habit_str_{{ query.id }}">
                        <script>
                            var init_habit = "{{ query.habit_confirm }}";
                            var init_habits = init_habit.toString().split(",");
                            for (var i = 0; i < init_habits.length; i++) {
                                $("input[name='habit_confirm_{{ query.id }}'][value='" + init_habits[i] +"']").attr("checked","checked");
{#                                $("input:checkbox[name='habit_confirm_{{ query.id }}'][value=" + init_habits[i] + "]").attr('checked', 'true');#}
                            }
                        </script>
                        <div class="ratio col-xs-12 list_row"> 6.3 <b>重复度确认</b>：你搜索后发现本次查询返回结果实际的重复度如何（提示：你之前给出的预期为{{ query.redundancy}}）<br>
                            <label><input type="radio" name="redundancy_confirm_{{ query.id }}" value="0"/> 0：你发现全都是相似结果 </label> <br>
                            <label><input type="radio" name="redundancy_confirm_{{ query.id }}" value="1"/> 1：你发现有少数结果和其他结果不一样 </label> <br>
                            <label><input type="radio" name="redundancy_confirm_{{ query.id }}" value="2"/> 2：你发现有一半结果和其他结果不一样 </label> <br>
                            <label><input type="radio" name="redundancy_confirm_{{ query.id }}" value="3"/> 3：你发现有大部分结果都和其他结果不一样 </label> <br>
                            <label><input type="radio" name="redundancy_confirm_{{ query.id }}" value="4"/> 4：你发现所有结果都不是重复的 </label> <br>
                        </div>
                        <script>
                            $("input:radio[name='redundancy_confirm_{{ query.id }}'][value='{{ query.redundancy_confirm }}']").attr('checked', 'true');
                        </script>
                        <div class="ratio col-xs-12 list_row"> 6.4 <b>困难度确认</b>：你搜索后发现本次查询找到你需要的信息实际有多困难?（提示：你之前给出的预期为{{ query.difficulty}}）<br>
                            <label><input type="radio" name="difficulty_confirm_{{ query.id }}" value="0"/> 0：你需要的信息非常容易找到，直接就展示给你了 </label> <br>
                            <label><input type="radio" name="difficulty_confirm_{{ query.id }}" value="1"/> 1：你需要的信息相对比较简单，在某些结果稍微找一下就能够发现 </label> <br>
                            <label><input type="radio" name="difficulty_confirm_{{ query.id }}" value="2"/> 2：你需要的信息有一点点困难，可能需要多看一些结果，搜寻一下</label> <br>
                            <label><input type="radio" name="difficulty_confirm_{{ query.id }}" value="3"/> 3：你需要的信息可能比较困难，可能大部分结果都找不到，需要你比较仔细地进行查看 </label> <br>
                            <label><input type="radio" name="difficulty_confirm_{{ query.id }}" value="4"/> 4：你需要的信息会非常困难，甚至可能完全找不到 </label> <br>
                        </div>
                        <script>
                            $("input:radio[name='difficulty_confirm_{{ query.id }}'][value='{{ query.difficulty_confirm }}']").attr('checked', 'true');
                        </script>
                        <div class="ratio col-xs-12 list_row"> 6.5 <b>结果数量确认</b>：你搜索后发现本次查询你实际查看了多少个相关的结果？（提示：你之前给出的预期为{{ query.gain}}）<br>
                            <span style="display:flex;">1个相关结果 <input type="range" style="width: 40%" name="gain_confirm_{{ query.id }}" min="1" max="10" value="1" step="1" list="gain_marks" oninput="setGain({{ query.id }})" onchange="setGain({{ query.id }})"/> 10个及以上（您当前选择的数值是<b><span id="gain_value_{{ query.id }}" >1</span></b>）</span><br>
                            <datalist id="gain_marks">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                            </datalist>
                        </div>
                        <script>
                            document.getElementsByName("gain_confirm_{{ query.id }}")[0].value = {{ query.gain_confirm }};
                        </script>
                        <div class="ratio col-xs-12 list_row"> 6.6 <b>投入精力确认</b>：你搜索后发现本次查询你实际投入了多少时间精力在寻找相关的信息上？（提示：你之前给出的预期为{{ query.effort}}）：<br>
                            <span style="display:flex;">1分钟左右 <input type="range" style="width: 40%" name="effort_confirm_{{ query.id }}" min="1" max="10" value="1" step="1" list="effort_marks" oninput="setEffort({{ query.id }})" onchange="setEffort({{ query.id }})"/> 10分钟及更长时间（您当前选择的数值是<b><span id="effort_value_{{ query.id }}" >1</span></b>）</span><br>
                            <datalist id="effort_marks">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                            </datalist>
                        </div>
                        <script>
                            document.getElementsByName("effort_confirm_{{ query.id }}")[0].value = {{ query.effort_confirm }};
                        </script>
                        {% endif %}
                    </div>
                    <div class="col-xs-12"><br/></div>
                {% endfor %}
            </form>
            <div class="col-xs-12">
                <div id="query-btn" class="col-xs-6 submit-btn btn btn-block btn-lg btn-primary">
                    提交标注
                </div>
            </div>
        </div>
        <script>
               function setDiversity(qid){
                   var diversity_val = document.getElementById("diversity_value_" + qid);
                   diversity_val.innerText = document.getElementsByName("diversity_confirm_" + qid)[0].value;
               }
               function setGain(qid){
                   var gain_val = document.getElementById("gain_value_" + qid);
                   gain_val.innerText = document.getElementsByName("gain_confirm_" + qid)[0].value;
               }
               function setEffort(qid){
                   var effort_val = document.getElementById("effort_value_" + qid);
                   effort_val.innerText = document.getElementsByName("effort_confirm_" + qid)[0].value;
               }
               function validateForms() {  // 咋办？
                   {% for query, prequery, query_annotation, pages_and_status in items_list %}
                       var checks = $("input[name='habit_confirm_{{ query.id }}']:checked").map(function () {
                           return $(this).val();
                       }).get();
{#                       alert(checks);#}
                       $("#habit_str_" + {{ query.id }}).val(checks);
                   {% endfor %}
               }
        </script>
        <script>
            $(function () {
                $('#query-btn').click(
                        function () {
                            {% for query, prequery, query_annotation, pages_and_status in items_list %}
                                var relation = $("[name='relation_ratio_{{ query.id }}']:checked");
                                var inspiration = $("[name='inspiration_{{ query.id }}']:checked");
                                var satisfaction = $("[name='satisfaction_ratio_{{ query.id }}']:checked");
                                var ending = $("[name='ending_ratio_{{ query.id }}']:checked");
                                if (relation.val() == null) {
                                    alert('请选择一个关系!');
                                    $("[name='relation_ratio_{{ query.id }}']").focus();
                                    return
                                }
                                if (inspiration.val() == null) {
                                    alert('请选择一个重构灵感来源!');
                                    $("[name='inspiration_{{ query.id }}']").focus();
                                    return
                                }
                                if (satisfaction.val() == null) {
                                    alert('请选择一个满意度!');
                                    $("[name='satisfaction_ratio_{{ query.id }}']").focus();
                                    return
                                }
                                if (ending.val() == null) {
                                    alert('请选择一个停止浏览的原因!');
                                    $("[name='ending_ratio_{{ query.id }}']").focus();
                                    return
                                }

                                {% if query.diversity != -1 %}
                                    var habit_confirm = $("[name='habit_confirm_{{ query.id }}']:checked");
                                    var redundancy_confirm = $("[name='redundancy_confirm_{{ query.id }}']:checked");
                                    var difficulty_confirm = $("[name='difficulty_confirm_{{ query.id }}']:checked");
                                    if (habit_confirm.val() == null) {
                                        alert('请选择一个偏好预期确认值!');
                                        $("[name='habit_confirm_{{ query.id }}']").focus();
                                        return
                                    }
                                    if (redundancy_confirm.val() == null) {
                                        alert('请选择一个冗余度预期确认值!');
                                        $("[name='redundancy_confirm_{{ query.id }}']").focus();
                                        return
                                    }
                                    if (difficulty_confirm.val() == null) {
                                        alert('请选择一个困难度预期确认值!');
                                        $("[name='difficulty_confirm_{{ query.id }}']").focus();
                                        return
                                    }
                                {% endif %}
                            {% endfor %}
                            if (confirm("确认提交所有分查询词标注?"))
                                $('#query-form').submit();
                        }
                );
            });
        </script>
    </div>

{% endblock %}
