{% extends "base.html" %}
{% block title %} Query Partition {% endblock %}
{% block content_title %} Query Partition {% endblock %}
{% block content %}
    <div class="row text-center">
        <h3>
            Query Partition
        </h3>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-5">
            <div class="col-xs-12 list_header">
                Ungrouped Queries
            </div>
                <label for="unpartition_queries">Ungrouped queries can be grouped or deleted (deleted queries will not be logged)</label>
            <div class="col-xs-12">
                <div id="partition-btn" class="col-xs-6 submit-btn btn btn-block btn-lg btn-primary">
                    Query Partition
                </div>
                <div id="delete-btn" class="col-xs-6 submit-btn btn btn-block btn-lg btn-primary">
                    Query Deletion
                </div>
            </div>
            <form class="col-xs-12" id="unpartition-form" action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="action_type" value="partition">
                {% for query, pages in unpartition_queries_to_pages %}
                    <div class="checkbox col-xs-12 list_row">
                        <label><input type="checkbox" name="unpartition_checkbox"
                                      value="{{ query.id }}">{{ query.query_string }}</label>
                        <ul>
                            {% for page in pages %}
                                <li>Page {{ page.page_id }}<a href="/task/show_page/{{ page.id }}" target="_blank">(Click Here to View)</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </form>
        </div>
        <div class="col-xs-5">
            <div class="col-xs-12 list_header">
                Grouped Queries
            </div>
                <label for="partition_queries">Group query can be cancelled</label>
            <div class="col-xs-12">
                <div id="unpartition-btn" class="col-xs-6 submit-btn btn btn-block btn-lg btn-primary">
                    Ungroup
                </div>
            </div>
            <form class="col-xs-12" id="partition-form" action="" method="post" enctype='multipart/form-data'>
                {% csrf_token %}
                <input type="hidden" name="action_type" value="unpartition">
                {% for task_id, queries in partition_tasks_to_queries %}
                    <div class="checkbox col-xs-12 list_row">
                        <label class="col-xs-12"><input type="checkbox" name="partition_checkbox" value="{{ task_id }}">Task ID {{ task_id }}</label>
                        <ul>
                            {% for query in queries %}
                                <li class="col-xs-12">{{ query.query_string }}</li>
                            {% endfor %}
                        </ul>
                        <a href="/task/task_annotation1/{{ task_id }}" class="col-xs-12">Click here to annotate.</a>
                    </div>

                {% endfor %}
            </form>
        </div>
        <script>
            $(function () {
                $('#partition-btn').click(
                        function () {
                            $("input[name='action_type']").val("partition");
                            $('#unpartition-form').submit();
                        }
                );
                $('#delete-btn').click(
                        function () {
                            if (confirm("Are you sure to delete these queries? It cannot be restored after being deleted.")) {
                                $("input[name='action_type']").val("delete");
                                $('#unpartition-form').submit();
                            }
                        }
                );
                $('#unpartition-btn').click(
                        function () {
                            if (confirm("Are you sure to ungroup these tasks?")) {
                                $('#partition-form').submit();
                            }
                        }
                );
            });
        </script>
    </div>

{% endblock %}
