{% extends "base.html" %}
{% block title %} Task Homepage {% endblock %}
{% block content_title %} Task Homepage {% endblock %}
{% block content %}
    <div class="row text-center">
        <h3>
            Task Homepage
        </h3>
    </div>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6 user_info">
            <div class="user_info_row row">
                <div class="info_label col-xs-offset-0 col-xs-12">
                    Hello, {{ cur_user.username }}, here is your current annotation:
                </div>
            </div>
            <div class="user_info_row row">
                <div class="info_label col-xs-offset-0 col-xs-6">
                    Number of annotated queries:
                </div>
                <div class="info_value col-xs-offest-6 col-xs-6">
                    {{ annotation_num }}
                </div>
            </div>
            <div class="user_info_row row">
                <div class="info_label col-xs-offset-0 col-xs-6">
                    Number of grouped but unannotated queries:
                </div>
                <div class="info_value col-xs-offest-6 col-xs-6">
                    {{ partition_num }}
                </div>
            </div>
            <div class="user_info_row row">
                <div class="info_label col-xs-offset-0 col-xs-6">
                    Number of ungrouped queries:
                </div>
                <div class="info_value col-xs-offest-6 col-xs-6">
                    {{ remain_num }}
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="col-xs-offset-3 col-xs-6">
        <div id="go-partition-btn" class="col-xs-12 submit-btn btn btn-block btn-lg btn-primary">
            Click here to group queries
        </div>
        <div id="go-annotation-btn" class="col-xs-12 submit-btn btn btn-block btn-lg btn-primary">
            Click here to annotate grouped queries
        </div>
    </div>
    <script>
        $(function() {
            $('#go-partition-btn').click(
                function () {
                    window.location.href = '/task/partition';
                }
            );
            $('#go-annotation-btn').click(
                function () {
                    window.location.href = '/task/annotation';
                }
            );
        });
    </script>

{% endblock %}
