{% extends "base.html" %}
{% block title %} Task Annotation {% endblock %}
{% block content_title %} Task Annotation {% endblock %}
{% block content %}
    {% if not flag %}
    <script>
        alert('Several queries in the previous page have not been annotated with usefulness, please check it out!');
        window.location.href = '/task/query_annotation/{{ task.id }}';
    </script>
    {% endif %}
    <div class="row text-center">
        <h3>
            Task Annotation
        </h3>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="col-xs-12 list_header">
                Queries within the task
            </div>
            {% for query, pages in queries_to_pages %}
                <div class="col-xs-12 list_row">
                    <label>{{ query.query_string }}</label>
                    <ul>
                        {% for page in pages %}
                            <li>Page {{ page.page_id }}<a href="/task/show_page/{{ page.id }}" target="_blank">(Click here to view)</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            <div class="col-xs-12"><br /></div>
            <div class="col-xs-12 list_header">
                Task Annotation
            </div>
            <form class="col-xs-12" id="task-form" action="" method="post" enctype='multipart/form-data'>
                {% csrf_token %}
                <label for="satisfaction_ratio" class="ratio col-xs-12 list_row">1. <b>Task Satisfaction</b> Were you satisfied with the search process during this task? (0) unsatisfied - (4) very satisfied</label>
                <div class="ratio col-xs-12 list_row">
                    <label><input type="radio" name="satisfaction_ratio"  value="0" /> 0 </label>
                    <label><input type="radio" name="satisfaction_ratio"  value="1" /> 1 </label>
                    <label><input type="radio" name="satisfaction_ratio"  value="2" /> 2 </label>
                    <label><input type="radio" name="satisfaction_ratio"  value="3" /> 3 </label>
                    <label><input type="radio" name="satisfaction_ratio"  value="4" /> 4 </label>
                </div>
                <script>
                    $("input:radio[name='satisfaction_ratio'][value='{{ task.satisfaction }}']").attr('checked','true');
                </script>
                <div class="col-xs-12"></div>
                <label for="information_difficulty" class="ratio col-xs-12 list_row">2. <b>Task Difficulty</b> How do you feel about the difficulty of finding useful information? (0) very easy - (4) very difficult</label>
                <div class="ratio col-xs-12 list_row">
                    <label><input type="radio" name="information_difficulty"  value="0" /> 0 </label>
                    <label><input type="radio" name="information_difficulty"  value="1" /> 1 </label>
                    <label><input type="radio" name="information_difficulty"  value="2" /> 2 </label>
                    <label><input type="radio" name="information_difficulty"  value="3" /> 3 </label>
                    <label><input type="radio" name="information_difficulty"  value="4" /> 4 </label>
                </div>
                <script>
                    $("input:radio[name='information_difficulty'][value='{{ task_annotation.information_difficulty }}']").attr('checked','true');
                </script>
                <div class="col-xs-12"></div>
                <label for="success" class="ratio col-xs-12 list_row">3. <b>Task Success</b> Did you find any useful information for this task? (0) almost no - (4) all you want</label>
                <div class="ratio col-xs-12 list_row">
                    <label><input type="radio" name="success"  value="0" /> 0 </label>
                    <label><input type="radio" name="success"  value="1" /> 1 </label>
                    <label><input type="radio" name="success"  value="2" /> 2 </label>
                    <label><input type="radio" name="success"  value="3" /> 3 </label>
                    <label><input type="radio" name="success"  value="4" /> 4 </label>
                </div>
                <script>
                    $("input:radio[name='success'][value='{{ task_annotation.success }}']").attr('checked','true');
                </script>
                <div class="col-xs-12"><br /></div>
            </form>
            <div class="col-xs-12">
                <div id="task-btn" class="col-xs-6 submit-btn btn btn-block btn-lg btn-primary">
                    Submit
                </div>
            </div>
        </div>
    <script>
        $(function() {
            $('#task-btn').click(
                function () {
                    var satisfaction = $("[name='satisfaction_ratio']:checked");
                    var information_difficulty = $("[name='information_difficulty']:checked");
                    var success = $("[name='success']:checked");
                    if (satisfaction.val() == null) {
                        alert('Please choose a satisfaction value!');
                        $("[name='satisfaction_ratio']").focus();
                        return
                    }
                    if (information_difficulty.val() == null) {
                        alert('Please choose a difficulty value!');
                        $("[name='information_difficulty']").focus();
                        return
                    }
                    if (success.val() == null) {
                        alert('Please choose a search success value!');
                        $("[name='success']").focus();
                        return
                    }
                    if (confirm("Are you sure to submit all annotations?"))
                        $('#task-form').submit();
                }
            );
        });
    </script>
    </div>

{% endblock %}
