{% extends "base.html" %}
{% block title %} Task Description {% endblock %}
{% block content_title %} Task Description {% endblock %}
{% block content %}
    <div class="row text-center">
        <h3>
            Task Description
        </h3>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-5">
            <div class="col-xs-12 list_header">
                Queries within the task
            </div>
            {% for query, pages in queries_to_pages %}
                <div class="col-xs-12 list_row">
                    <label>{{ query.query_string }}</label>
                    <ul>
                        {% for page in pages %}
                            <li>Page {{ page.page_id }}<a href="/task/show_page/{{ page.id }}" target="_blank">(click here to view)</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            <div class="col-xs-12 list_row"></div>
            <div class="col-xs-12 list_header">
                Annotation Guidelines
            </div>
            <div class="col-xs-12 list_row">
                Some information need to be recorded, including the <b> search background </b> and your <b> search intent </b>.
                Make sure that you are familiar with the following standards and rules before annotating.
                <ul>
                    <li><b>Search background</b></li>
                        <ul>
                            <li><b>Did you have enough time</b></li>
                            <li><b>Were you in a quiet scenario</b></li>
                        </ul>
                    <li><b>Search intent</b></li>
                        <ul>
                            <li><b>How specific was your search intent?</b>, e.g., <br><i>&diams; You only wanted to search for Christmas posters → very specific (4)；<br>&diams; You wanted to search for various information about Christmas → rather specific (2-3)；<br>&diams; You wanted to search for anything → very broad (0-1);</i></li>
                            <li><b>How was this search task motivated?</b>, e.g., <br><i>&diams; You are suddenly interested in some celebrity → interest-driven (0-1)；<br>&diams; Summer is coming and you want to buy a new dress → interest- and task-driven (2)；<br>&diams; You wanted to search for information to complete your homework → task-driven (3-4)；</i></li>
                            <li><b>Were you familiar with the search tasks before searching?</b></li>
                        </ul>
                </ul>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="col-xs-12 list_header">
                 Please review the search process and select the appropriate options.
            </div>
            <form class="col-xs-12" id="description-form" action="" method="post">
                {% csrf_token %}
                <label for="time_condition" class="ratio col-xs-12 list_row"><b>1. You were urgent and needed to complete the search immediately, 0→4: Completely disagreed → Completely agreed</b></label>
                    <div class="ratio col-xs-12 list_row">
                        <label><input type="radio" name="time_condition_{{ task.id }}" value="0"/> 0&emsp; </label>
                        <label><input type="radio" name="time_condition_{{ task.id }}" value="1"/> 1&emsp;  </label>
                        <label><input type="radio" name="time_condition_{{ task.id }}" value="2"/> 2&emsp;  </label>
                        <label><input type="radio" name="time_condition_{{ task.id }}" value="3"/> 3&emsp;  </label>
                        <label><input type="radio" name="time_condition_{{ task.id }}" value="4"/> 4&emsp;  </label>
                    </div>
                <script>
                    $("input:radio[name='time_condition_{{ task.id }}'][value='{{ task.time_condition }}']").attr('checked','true');
                </script>
                <label for="position_condition" class="ratio col-xs-12 list_row"><b>2. The surrounding environment was very noisy, which can affect your concentration on the search, 0→4: Completely disagreed → Completely agreed</b></label>
                    <div class="ratio col-xs-12 list_row">
                        <label><input type="radio" name="position_condition_{{ task.id }}" value="0"/> 0&emsp; </label>
                        <label><input type="radio" name="position_condition_{{ task.id }}" value="1"/> 1&emsp;  </label>
                        <label><input type="radio" name="position_condition_{{ task.id }}" value="2"/> 2&emsp;  </label>
                        <label><input type="radio" name="position_condition_{{ task.id }}" value="3"/> 3&emsp;  </label>
                        <label><input type="radio" name="position_condition_{{ task.id }}" value="4"/> 4&emsp;  </label>
                    </div>
                <script>
                    $("input:radio[name='position_condition_{{ task.id }}'][value='{{ task.position_condition }}']").attr('checked','true');
                </script>
                <label for="specificity" class="ratio col-xs-12 list_row"><b>3. Search specificity, 0→4: Very broad → Very clear</b></label>
                    <div class="ratio col-xs-12 list_row">
                        <label><input type="radio" name="specificity_{{ task.id }}" value="0"/> 0&emsp; </label>
                        <label><input type="radio" name="specificity_{{ task.id }}" value="1"/> 1&emsp;  </label>
                        <label><input type="radio" name="specificity_{{ task.id }}" value="2"/> 2&emsp;  </label>
                        <label><input type="radio" name="specificity_{{ task.id }}" value="3"/> 3&emsp;  </label>
                        <label><input type="radio" name="specificity_{{ task.id }}" value="4"/> 4&emsp;  </label>
                    </div>
                <script>
                    $("input:radio[name='specificity_{{ task.id }}'][value='{{ task.specificity }}']").attr('checked','true');
                </script>
                <label for="trigger" class="ratio col-xs-12 list_row"><b>4. How was this search task motivated?  (0) interest-driven -> (4) task-driven</b></label>
                    <div class="ratio col-xs-12 list_row">
                        <label><input type="radio" name="trigger_{{ task.id }}" value="0"/> 0&emsp; </label>
                        <label><input type="radio" name="trigger_{{ task.id }}" value="1"/> 1&emsp;  </label>
                        <label><input type="radio" name="trigger_{{ task.id }}" value="2"/> 2&emsp;  </label>
                        <label><input type="radio" name="trigger_{{ task.id }}" value="3"/> 3&emsp;  </label>
                        <label><input type="radio" name="trigger_{{ task.id }}" value="4"/> 4&emsp;  </label>
                    </div>
                <script>
                    $("input:radio[name='trigger_{{ task.id }}'][value='{{ task.trigger }}']").attr('checked','true');
                </script>
                <label for="expertise" class="ratio col-xs-12 list_row"><b>5. Were you familiar with the search tasks before searching? (0) not at all -> (4) very familiar</b></label>
                    <div class="ratio col-xs-12 list_row">
                        <label><input type="radio" name="expertise_{{ task.id }}" value="0"/> 0&emsp; </label>
                        <label><input type="radio" name="expertise_{{ task.id }}" value="1"/> 1&emsp;  </label>
                        <label><input type="radio" name="expertise_{{ task.id }}" value="2"/> 2&emsp;  </label>
                        <label><input type="radio" name="expertise_{{ task.id }}" value="3"/> 3&emsp;  </label>
                        <label><input type="radio" name="expertise_{{ task.id }}" value="4"/> 4&emsp;  </label>
                    </div>
                <script>
                    $("input:radio[name='expertise_{{ task.id }}'][value='{{ task.expertise }}']").attr('checked','true');
                </script>
            </form>
            <div class="col-xs-12">
                <div id="description-btn" class="col-xs-12 submit-btn btn btn-primary">
                    Submit
                </div>
            </div>
        </div>
        <script>
            $(function () {
                $('#description-btn').click(
                        function () {
                            var time_condition = $("[name='time_condition_{{ task.id }}']:checked");
                            var position_condition = $("[name='position_condition_{{ task.id }}']:checked");

                            var specificity = $("[name='specificity_{{ task.id }}']:checked");
                            var trigger = $("[name='trigger_{{ task.id }}']:checked");
                            var expertise = $("[name='expertise_{{ task.id }}']:checked");

                            if (time_condition.val() == null) {
                                alert('Please check an urgency button!');
                                $("[name='time_condition_{{ task.id }}']").focus();
                                return
                            }

                            if (position_condition.val() == null) {
                                alert('Please choose an atmosphere condition!');
                                $("[name='position_condition_{{ task.id }}']").focus();
                                return
                            }

                            if (specificity.val() == null) {
                                alert('Please choose an intent specificity!');
                                $("[name='specificity_{{ task.id }}']").focus();
                                return
                            }

                            if (trigger.val() == null) {
                                alert('Please select an intent trigger!');
                                $("[name='trigger_{{ task.id }}']").focus();
                                return
                            }

                            if (expertise.val() == null) {
                                alert('Please choose an expertise level!');
                                $("[name='expertise_{{ task.id }}']").focus();
                                return
                            }

                            if (confirm("Are you sure to submit all annotations?"))
                                $('#description-form').submit();
                        }
                );
            });
        </script>
    </div>

{% endblock %}
